body {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

div#postform_layer {
    /* display: none; */
    position: fixed;
    top: 8%;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background: rgba(45,45,45, 0.5);
}

div.error-message {
    color: red;
}