div.container {
    /* overflow: auto;
    white-space: nowrap; */
}

div.row {
    margin-top: 10px;
    margin-bottom: 10px;
    /* overflow: auto;
    white-space: nowrap; */
}

/* dvi.not_resolved_questions {
    overflow: auto;
    white-space: nowrap;
}

dvi.resolved_questions {
    overflow: auto;
    white-space: nowrap;
} */

div.question {
    border: 1px solid #000000;
    height: 150px;
    width: 200px;
    /* margin:0px; */
}

div.title {
    border-bottom: 1px solid #000000;
    font-size: 15pt;
    color: red;
}

div.contain {

}
